{% extends "_base.html" %}
{% load account i18n %}

{% block content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            {% if confirmation %}
                <p class="mb-4">Please confirm that <a href="mailto:{{ confirmation.email_address.email }}" class="text-indigo-600 hover:text-indigo-500">{{ confirmation.email_address.email }}</a> is an email address for the user.</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div>
                        <button type="submit" class="w-full flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            {% trans 'Confirm' %}
                        </button>
                    </div>
                </form>
            {% else %}
                {% url 'account_email' as email_url %}
                <p>This email confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="text-indigo-600 hover:text-indigo-500">issue a new email confirmation request</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
