{% extends '_base.html' %}
{% load account i18n %}
{% load static %}

{% block title %}
  logout
{% endblock %}

{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-40 w-auto" src="{% static 'images/logo.png' %}" alt="An-Najah Logo" />
        <p>Are you sure you want to log out?</p>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div>
              <button type="submit" class="w-full flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Log Out</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
